DirectoryIndex index.html

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(html)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>
</IfModule>

ErrorDocument 404 /index.html
